celery==5.2.7
Django==4.1.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.5
ipython==8.10.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
python-dotenv==1.0.0
python-env==1.0.0
redis==4.6.0